body {
    
    background-color: #dad5d5;
    color: #090000;
    margin: center;
    padding: 20px;
}
table {
   
     margin-top:  20px;
     margin-bottom: 20px;
     margin-left: 150px;
        margin-right: 20px;


    
   
    
  
}
legend{
    font-size: 20px;
    font-weight: bold;
    
}

input[type="submit"],
input[type="reset"] {
    
    color: #0d0101;
    border: none;
    border-radius: 10px;
    
    margin-top: 10px;
    padding: 8px 16px;
}
