.Review{
    font-family: Arial, sans-serif;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;

}
.productbox{
    display: block;
    margin: 0 auto;
    
    width: 800px;
    height: auto;
    border: 2px solid #000;
    padding: 10px;
    
    background-color: #e0e0e0;
}