
body {
margin: center;
padding:30px;
position: absolute;
}

table {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 330px;
    margin-right: 300px;
    background-color: grey;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-right: 20px;
    padding-left: 20px;
 
    border-radius: 20px;

}
legend {
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    
}

label {
    color: aliceblue;
  
}
button {
    border-radius: 5px;
    border-color: transparent;
}
input[type="submit"]{
    border-radius: 5px;
    border-color: transparent;
    margin-left: 80px;
    margin-top: 50px;
}