body {
margin: center;
padding:30px;

}
table {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 370px;
    margin-right: 300px;
    background-color: grey;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-right: 20px;
    padding-left: 20px;
 
    border-radius: 20px;

}
legend {
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    
}
input[type="submit"]
 {
    
    color: #0d0101;
    border: none;
    border-radius: 10px;
    
    margin-top: 25px;
   margin-left: 60px;
    padding: 8px 16px;
}
label {
    color: aliceblue;
}
button {
    border-radius: 5px;
    border-color: transparent;
}